name: Terraform Apply

on:
  push:
    branches: [ main ]
    paths:
      - "envs/**"

permissions:
  id-token: write
  contents: read

jobs:
  detect-env:
    runs-on: ubuntu-latest
    outputs:
      env: ${{ steps.env.outputs.env }}
    steps:
      - uses: actions/checkout@v4
      - id: env
        run: |
          if git diff --name-only HEAD~1 HEAD | grep -q '^envs/prod/'; then
            echo "env=prod" >> $GITHUB_OUTPUT
          elif git diff --name-only HEAD~1 HEAD | grep -q '^envs/stage/'; then
            echo "env=stage" >> $GITHUB_OUTPUT
          else
            echo "env=dev" >> $GITHUB_OUTPUT
          fi

  terraform-apply:
    needs: detect-env
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: ap-south-1

      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6

      - name: Terraform Init
        working-directory: envs/${{ needs.detect-env.outputs.env }}
        run: terraform init

      - name: Terraform Apply
        working-directory: envs/${{ needs.detect-env.outputs.env }}
        run: terraform apply -var-file=${{ needs.detect-env.outputs.env }}.tfvars -auto-approve
