name: terraform-plan

on:
  pull_request:
    branches: [ main ]
    paths:
      - "envs/**"

permissions:
  id-token: write
  contents: read
  pull-requests: write

jobs:
  plan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0   # REQUIRED for diff

      - name: Detect environment
        id: env
        run: |
          git fetch origin main

          if git diff --name-only origin/main...HEAD | grep -q '^envs/prod/'; then
            echo "ENV=prod" >> $GITHUB_ENV
          elif git diff --name-only origin/main...HEAD | grep -q '^envs/stage/'; then
            echo "ENV=stage" >> $GITHUB_ENV
          else
            echo "ENV=dev" >> $GITHUB_ENV
          fi

      - name: Configure AWS (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: ap-south-1

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6

      - name: Terraform Init
        working-directory: envs/${{ env.ENV }}
        run: terraform init -input=false

      - name: Terraform Plan
        working-directory: envs/${{ env.ENV }}
        run: terraform plan -var-file=${{ env.ENV }}.tfvars -no-color
